*{
    margin: 0px; 
    font-family: 'inter';
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
     
}

#title-superiormenu{
    margin-left: 150px;
    margin-top: 50px;
}

#text-superiormenu{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#superiormenu{
    background-image: url(images/background-superiormenu.svg);
    color: aliceblue  ;
}

#informationalmenu{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icon{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#videosession {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.informativetext {
    display: flex;
    align-items: center;
}

#videotitle {
color: #247BA0;
margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel {
    background-color: #247BA0; 
    padding: 50px;
}

#title-carrossel {
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#left-arrow {
    display: none;
}

#bruna{
    display: none;
}

.arrow{
    margin-top: 45%;
    cursor: pointer
}
.arrow:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#form {
    text-align: center;
}

#title-form{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input {
    width: 300px;
    height: 40px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 5px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #eaece5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.5s;
}